extends layouts/main

block content
    div
        h1 Activity
    div 
        div
            span This Week
        div
            a(href="") 
                img(src="", alt="")
                span Your Story
    div
        div
            div
                div
                    h2 leomessi
                div
                    div
                    div
            div
        div
            form(action="") 
                input(type="file", name="")
                