extends layouts/main

block content
    ul
        li
            a(href="/accounts"+routes.editProfile) Edit Profile 
        li
            a(href="/accounts"+routes.changePassword) Change Password
    article
        div
            div
                button#btn1
                    img(src=`${loggedUser.profilePhoto}`, alt="Change Profile Photo" width="50" height="50")
            div 
                h1=loggedUser.username
        form#pwForm(method="post")
            div
                aside
                    label(for="oldPassword") Old Password
                div
                    input#oldPW(type="password", name="oldPassword" required)
            div
                aside
                    label(for="newPassword") New Password
                div
                    input#newPW(type="password", name="newPassword" required)
            div
                aside
                    label(for="confirmNewPassword") Confirm New Password
                div
                    input#confirmNewPW(type="password", name="confirmNewPassword" required)
            div
                aside
                    label
                div
                    button#pwBtn(type="button" disabled) Change Password
    script.
        const pwForm = document.getElementById("pwForm");
        const oldPW =  document.getElementById("oldPW");
        const newPW =  document.getElementById("newPW");
        const confirmNewPW =  document.getElementById("confirmNewPW");
        const pwBtn =  document.getElementById("pwBtn");

        const handlePWBtn = () => {
            fetch("/accounts/password/change", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    oldPassword: oldPW.value,
                    newPassword: newPW.value,
                    confirmNewPassword: confirmNewPW.value
                })
            })
        }

        const handlePWForm = () => {
            if (oldPW.value && newPW.value && confirmNewPW.value) {
                pwBtn.disabled = false;
                pwBtn.addEventListener("click", handlePWBtn);
            }
        }
        pwForm.addEventListener("change", handlePWForm);
            