extends layouts/main

block content
    include ./partials/mainHeader
    include ./partials/mainNav
    div
        article
            div
                div
                    div
                        img(src="", alt="post")
                div 
                    div
                        img(src="", alt="post")
                div 
                    div
                        img(src="", alt="post")
