extends layouts/main

block content
    div
        form#jsCreatePostForm(action="/create"+routes.createPost, method="post" enctype="multipart/form-data")
            div
                input(type="file", name="postFile" accept="image/*, video/*")
            div
                label Details
                div
                    input#jsTitleInput(type="text" name="title" placeholder="Title")
                div
                    textarea#jsDescTxt(rows="3" name="caption" placeholder="Caption")
                div
                    button#jsPostBtn Post
