extends layouts/main

block content
    div
        div
            a(href="")
                img(src="/static/59950687.png", alt="") 
        div
            a(href="")
                img(src="/static/59950687.png", alt="") 
        div
            a(href="")
                img(src="/static/59950687.png", alt="") 
    div 
        div
            a(href="")
                img(src="/static/59950687.png", alt="") 
        div
            a(href="")
                img(src="/static/59950687.png", alt="") 
        div
            a(href="")
                img(src="/static/59950687.png", alt="") 