extends layouts/main

block content
    div
        div
            a(href="")
                img(src="", alt="post") 
        div
            a(href="")
                img(src="", alt="post") 
        div
            a(href="")
                img(src="", alt="post") 
    div 
        div
            a(href="")
                img(src="", alt="post") 
        div
            a(href="")
                img(src="", alt="post") 
        div
            a(href="")
                img(src="", alt="post") 