extends layouts/main
include mixins/articleBlock

block content
    if loggedUser
        each post in posts
            +articleBlock(post)
        //- 사이드바
        div
    else
        div
            div
                img(src="/static/59950687.png", alt="")
            div
                div
                    h1 Instagram
                    form(action=`/accounts`+routes.login, method="post")
                        input(type="text" name="username" placeholder="Email")
                        input(type="password", name="password" placeholder="Password")
                        button(type="submit") Log In
                        include ./partials/socialLogin
                div
                    p Don't have an account? 
                    a(href=`/accounts`+routes.emailSignup)
                        span Sign up

                    