extends layouts/main
include mixins/articleBlock

block content
    if loggedUser
        each post in posts
            +articleBlock(post)
        script.
            const bookmarks = document.querySelectorAll(".article-footer .bookmark");

            const handleBokkmark = (event) => {
                fetch("/api/save/post", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        data: event.target.getAttribute("id")
                    })
                });
            }
            Array.from(bookmarks).forEach(bookmark => {
                bookmark.addEventListener("click", handleBokkmark);
            })
        script.
            const addCommentForms = document.querySelectorAll(".addCommentForm");
            
            const handleCommentSubmit = (event) => {
                event.preventDefault();

                const section = event.target.parentNode.parentNode.querySelector("section");
                const divs = section.querySelectorAll("div");
                const id = divs[1].querySelector("button").getAttribute("id");
                const username = document.querySelector(".root header div").querySelector(".fa-user-circle").parentNode.getAttribute("href").split("/")[1];

                fetch("/api/add/comment", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        data: event.target.querySelector("textarea").value,
                        id: id,
                        username: username
                    })
                });

                const comments = document.querySelector(".comments");
                const div = document.createElement("div");
                div.className = "post-comment-root";
                const h2 = document.createElement("h2");
                h2.innerText = username;
                const span = document.createElement("span");
                span.innerText = event.target.querySelector("textarea").value
                div.appendChild(h2);
                div.appendChild(span);
                comments.appendChild(div);

                event.target.querySelector("textarea").value = "";
            }

            Array.from(addCommentForms).forEach(addCommentForm => {
                addCommentForm.addEventListener("submit", handleCommentSubmit);
            })
        //- 사이드바
        div
    else
        div
            div
                img(src="/static/59950687.png", alt="")
            div
                div
                    h1 Instagram
                    form(action=`/accounts`+routes.login, method="post")
                        input(type="text" name="username" placeholder="Email")
                        input(type="password", name="password" placeholder="Password")
                        button(type="submit") Log In
                        include ./partials/socialLogin
                div
                    p Don't have an account? 
                    a(href=`/accounts`+routes.emailSignup)
                        span Sign up

                    