extends layouts/main

block content
    div
        div
            h1 Instagram
            form(action=`/accounts`+routes.login, method="post")
                input(type="text" name="username" placeholder="Email")
                input(type="password", name="password" placeholder="Password")
                button(type="submit") Log In
                include ./partials/socialLogin
        div
            p Don't have an account? 
            a(href=`/accounts`+routes.emailSignup)
                span Sign up