extends layouts/main

block content
    include ./partials/mainHeader
    include ./partials/mainNav
    div
        article
            div
                each save in loggedUser.saves
                    div
                        div
                            if save.type === 'image'
                                img(src="/"+save.url, alt="post" width="400px" height="400px")
                            else if save.type === 'video'
                                video(src="/"+save.url width="400px" height="400px") 
