footer
    div 
        div 
            span Recents
            i.fas.fa-arrow-down
        div 
            i.fas.fa-layer-group
            i.fas.fa-camera
    div 
        div
            a(href="") POST
        div 
            a(href="") STORY
        div
            a(href="") REALS
        div
            a(href="") LIVE