div
    a(href=routes.user(loggedUser.username))
        i.far.fa-list-alt
        span posts
    a(href=`/${loggedUser.username}`+routes.channel)
        i.fas.fa-film
        span igtv
    a(href=`/${loggedUser.username}`+routes.saved)
        i.far.fa-bookmark
        span saved
    a(href=`/${loggedUser.username}`+routes.tagged)
        i.fas.fa-portrait
        span tagged