section 
    div
        h2=loggedUser.username
        div
            a(href=routes.edit) edit profile
        div
            button
                i.fas.fa-cog
    ul
        li 
            span
                span 27
                | posts
        li 
            a(href=`${routes.user(loggedUser.username)}/followers`) 
                span 27
                | followers
        li 
            a(href=`${routes.user(loggedUser.username)}/following`) 
                span 27
                | following
    div
        h1 name
        br
        span description
