div
    button(type="button")
        a(href=routes.facebook) 
            span
                i.fab.fa-facebook
            span
                |Log in with Facebook
    button(type="button")
        a(href=routes.github) 
            span
                i.fab.fa-github
            span
                |Log in with Github
    button(type="button")
        a(href=routes.kakao)
            span
                img(src="/static/kakao-logo.png", alt="kakao" width="13" height="14")
            span
                |Log in with Kakao