div
    button(type="button")
        a(href=routes.facebook) 
            span
                i.fab.fa-facebook
            span
                |Log in with Facebook
    button(type="button")
        a(href=routes.github) 
            span
                i.fab.fa-github
            span
                |Log in with Github