doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/baa94097a5.js" crossorigin="anonymous")
        link(rel="icon" href="data:;base64,iVBORw0KGgo=")
        title name (@username) • #{siteName}
    body
        create
            include ../partials/createHeader
            block content
            include ../partials/createFooter